---
layout: default
title: Incredible Computer Powers
---

<div id="bl-main" class="bl-main">
  <section id="category01" >
    <div class="bl-box">
      <h2>Awesome Keyboard Techniques</h2>
    </div>
    <div class="bl-content">
      <h2>Awesome Keyboard Techniques</h2>
      <p>In this section we are going to collect case of fantastic multi keyboard tasking, blind writing with only two key and multiple users on one keyboard.</p>
      <ul id="bl-work-items">
        
      {% for post in site.categories.category01 reversed %}
        <li class="item" data-panel="category01{{ forloop.index0 }}"><a href="#">
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image }}" /></a></li>
      {% endfor %}
      
      </ul>
      <button class="closeSection lsf-icon" title="remove" ></button>
    </div>
  </section>
  
  <section id="category02" >
    <div class="bl-box">
      <h2>Strange I/O Interfaces</h2>
    </div>
    <div class="bl-content">
      <h2>Strange I/O Interfaces</h2>
      <p>This section is reserved for weird input and output devices in look and fuctionality.</p>
      <ul id="bl-work-items">
        
      {% for post in site.categories.category02 reversed %}
        <li class="item" data-panel="category02{{ forloop.index0 }}"><a href="#">
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image }}" /></a></li>
      {% endfor %}
      
      </ul>
      <button class="closeSection lsf-icon" title="remove" ></button>
    </div>
  </section>
  
  <section id="category03" >
    <div class="bl-box">
      <h2>Over The Top GUI</h2>
    </div>
    <div class="bl-content">
      <h2>Over The Top GUI</h2>

      <p>The posts in this section take care about flickering and overwhelming Graphical User Interfaces, which not only need a lot of GPU power in most cases, they need a lot of brain power too!</p>
      <ul id="bl-work-items">

      {% for post in site.categories.category03 reversed %}
        <li class="item" data-panel="category03{{ forloop.index0 }}"><a href="#">
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image }}" /></a></li>
      {% endfor %}
      
      <button class="closeSection lsf-icon" title="remove" ></button>
      </ul>
    </div>
  </section>
  
  <section id="category04" >
    <div class="bl-box">
      <h2> Magic Computer Tricks</h2>
    </div>
    <div class="bl-content">
      <h2> Magic Computer Tricks</h2>
      <p>Here we take a look on the magic things that Hollywood computers can do, but not your usual laptop (nor any other computer od software).</p>
      <ul id="bl-work-items">
        
      {% for post in site.categories.category04 reversed %}
        <li class="item" data-panel="category04{{ forloop.index0 }}"><a href="#">
        <h3>{{ post.title }}</h3>
        <img src="{{ post.image }}" /></a></li>
      {% endfor %}

      </ul>
      <button class="closeSection lsf-icon" title="remove" ></button>
    </div>
  </section>
  
  <!-- Panel items for the category01 -->
  <div class="bl-panel-items category01" id="bl-panel-category01-items">
      {% for post in site.categories.category01 reversed %}
      <div data-panel="category01{{ forloop.index0 }}" class="post">
        <div class="postContent">
          {{ post.content }}
        </div>
      </div/>
      {% endfor %}
    {% include itemNav.html %}
  </div>
  
  <!-- Panel items for the category02 -->
  <div class="bl-panel-items category02" id="bl-panel-category02-items">
      {% for post in site.categories.category02 reversed %}
      <div data-panel="category02{{ forloop.index0 }}" class="post">
        <div class="postContent">
          {{ post.content }}
        </div>
      </div/>
      {% endfor %}
    
    {% include itemNav.html %}
  </div>
  
  <!-- Panel items for the category03 -->
  <div class="bl-panel-items category03" id="bl-panel-category03-items">
      {% for post in site.categories.category03 reversed %}
      <div data-panel="category03{{ forloop.index0 }}" class="post">
        <div class="postContent">
          {{ post.content }}
        </div>
      </div/>
      {% endfor %}
    {% include itemNav.html %}
  </div>
  
  <!-- Panel items for the category04 -->
  <div class="bl-panel-items category04" id="bl-panel-category04-items">
      {% for post in site.categories.category04 reversed %}
      <div data-panel="category04{{ forloop.index0 }}" class="post">
        <div class="postContent">
          {{ post.content }}
        </div>
      </div/>
      {% endfor %}
    {% include itemNav.html %}
  </div>
  
  
</div>
