@import "component.less";
@import "fonts.less";
@import "grid.less";
@import "elements.less";

.fullBackgroundImage { 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

html, body, section{
  position:relative;
  background-color: white;
  color: black;
}



body{
  width: 90%;
  margin: 0 auto;
}

section{
  .fullBackgroundImage;
  color: white;

}

header{
  h1{
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
}
button{
  background-color: transparent;
  border: none;
  color: black;
  font-size: 2em;
}

button.closeSection{
  position: absolute;
  top: 1em;
  right: 1em;
  // display: none;
}

.post{
  // .fullBackgroundImage;
    color: black;

}

.postContent{
}
