<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Fullscreen Layout with Page Transitions</title>
    <meta name="description" content="Fullscreen Layout with Page Transitions" />
    <meta name="keywords" content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/FullscreenLayoutPageTransitions/assets/css/main.css" />
    <script src="/FullscreenLayoutPageTransitions/assets/js/modernizr.custom.js"></script>
  </head>
  <body id="{{ page.title }}">
    <h1>Incredible Computer Powers</h1>
    <div class="container">
      
      {{ content }}
      
    </div>
    <script src="/FullscreenLayoutPageTransitions/assets/js/jquery-1.9.1.js"></script>
    <script src="/FullscreenLayoutPageTransitions/assets/js/boxlayout.js"></script>
    <script>
      $(function() {
        Boxlayout.init();
      });
    </script>
  </body>
</html>