<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="Fullscreen Layout with Page Transitions" />
    <meta name="keywords" content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="/IncredibleComputerPowers/assets/css/main.css" />
  </head>
  <body id="{{ page.title }}">
    
    {% include header.html %}
    
    <div class="container">
      
      {{ content }}
      
    </div>
    <script src="/IncredibleComputerPowers/assets/js/boxlayout-ck.js"></script>
    <script>
      $(function() {
        Boxlayout.init();
      });
    </script>
  </body>
</html>